.filters-nav {
  background-color: #061E28;
  color: #fff;
  padding: 50px;
  margin: 0px; }
  .filters-nav li {
    display: inline-block;
    margin-right: 20px; }
  .filters-nav a {
    color: #fff; }

.search-input {
  margin: 0px;
  width: 100%;
  box-sizing: border-box; }
  .search-input:focus {
    outline: none; }
  .search-input::placeholder {
    font-size: 16px;
    font-style: italic;
    padding-left: 50px;
    opacity: 0.5; }

.movies-container {
  padding: 50px; }
